#secondNav .nav-item{
	padding-right: 100px;
}

#introDiv{
	background-image: url('parts.jpg');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	min-width: 100%;
  	height: 600px;
}

#aboutDiv{
	margin-top: 60px;
}

#aboutImage{
	width: 200px;
	height: 250px;
}

#serviceDiv{
	margin-top: 50px;
}

#serviceTitle{
	text-align: center;
}