#secondNav .nav-item{
	padding-right: 100px;
}

#introDiv{
	background-image: url('parts.jpg');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	min-width: 100%;
  	height: 600px;
}
/* About Section*/
#aboutSection{
	margin-top: 100px;
}
.community-edition{
    height: 318px;
    background:#fff;
    padding:40px 15px;
    border:1px solid #ececec;
    box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -webkit-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -moz-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -o-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -ms-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
}
.community-edition:hover{
    background:#82ca9c;
    color:#fff;
}
.community-edition:hover i {
    color:#fff;
}
.community-edition:hover h4 {
    color:#fff;
}
.community-edition:hover p {
    color:#fff;
}

.community-edition i{
    font-size:60px;
    color:#82ca9c;
    margin-bottom: 20px;
}
.community-edition h4{
    font-size:16px;
    color:#000;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
    margin-top:15px;
}
.community-edition p{
    font-size:17px;
    color:#777777;
}
.portfolio-wrapper2{
    margin-top:25px;
}

#serviceDiv{
	margin-top: 50px;
}

#serviceTitle{
	text-align: center;
}
/*Services section*/
#serviceTitle{
	margin-top: 100px;
	margin-bottom: 70px;
}
#serviceSection ul{
	list-style-type: none;
}
#serviceSection i{
	margin-right: 10px;
	margin-top: 5px;
}
#serviceSection p{
	padding-left: 35px;
}
#serviceSection img{
	height: 290px;
	width: 300px;
	margin-left: 100px;
}
.row .rightDiv{
	border-left:4px solid black;
}
/*Contact Section*/
#contactTitle{
	margin-top: 100px;
	margin-bottom: 30px;
}
#contactSection i{
	font-size: 50px;
	margin-bottom: 15px;
}
#locationTitle{
	margin-top: 50px;
	margin-bottom: 30px;
}
/*Footer Area*/
.footer{
  background: #f9f9f9;
}

